aside {
    border-right: 2px solid white;
    width: 20%;
    height: 100%;
}

span.title {
    font-size: 24px;
    font-weight: bold;
}

.createRecordBtn {
    background: #4D96EB;
    width: 125px;
    height: 26px
}

.createRecordBtn i {
    color: #fff;
}

.filter h3 {
    font-weight: bold;
}

.search-icon i {
    position: absolute;
}

.search-icon {
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    padding: 10px;
    text-align: center;
}

.feature-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 100px;
}

#reportrange {
    width: 240px;
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.datepicker {
    width: 300px;
}

.records {
    width: 90%;
}

.record-list {
    height: 45px;
}

p {
    font-size: 20px;
}

.menu {
    cursor: pointer;
}

.dropdown-container {
    position: relative; /* Add this */
}

.dropdown {
    position: absolute;
    right: 10px;
    background-color: #fff;
    width: 80px;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 0.1s, max-height 0.1s, z-index 0.1s, top 0.1s;
}

.dropdown button:hover {
    background-color: rgb(196, 227, 254);
}

.dropdown button {
    width: 70px;
    text-align: left;
}

.dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    top: 100%;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s,;
}